<p id="notice"><%= notice %></p>

<p>
  <strong>Hc lastop:</strong>
  <%= @post_test._hc_lastop %>
</p>

<p>
  <strong>Sfid:</strong>
  <%= @post_test.sfid %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @post_test.createddate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @post_test.isdeleted %>
</p>

<p>
  <strong>Name:</strong>
  <%= @post_test.name %>
</p>

<p>
  <strong>Systemmodstamp:</strong>
  <%= @post_test.systemmodstamp %>
</p>

<p>
  <strong>Hc err:</strong>
  <%= @post_test._hc_err %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @post_test.accountid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post_test.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @post_test.firstname %>
</p>

<p>
  <strong>Acct global account executive  c:</strong>
  <%= @post_test.acct_global_account_executive__c %>
</p>

<p>
  <strong>Lastnamelocal:</strong>
  <%= @post_test.lastnamelocal %>
</p>

<p>
  <strong>Firstnamelocal:</strong>
  <%= @post_test.firstnamelocal %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @post_test.phone %>
</p>

<p>
  <strong>Function  c:</strong>
  <%= @post_test.function__c %>
</p>

<p>
  <strong>Account record type  c:</strong>
  <%= @post_test.account_record_type__c %>
</p>

<p>
  <strong>Level  c:</strong>
  <%= @post_test.level__c %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @post_test.lastname %>
</p>

<p>
  <strong>Primary functional role  c:</strong>
  <%= @post_test.primary_functional_role__c %>
</p>

<p>
  <strong>Account name local  c:</strong>
  <%= @post_test.account_name_local__c %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @post_test.homephone %>
</p>

<%= link_to 'Edit', edit_post_test_path(@post_test) %> |
<%= link_to 'Back', post_tests_path %>
