<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @entry.emp_id %>
</p>

<p>
  <strong>Sfid:</strong>
  <%= @entry.SFID %>
</p>

<p>
  <strong>Last change:</strong>
  <%= @entry.Last_Change %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @entry.Modified_At %>
</p>

<p>
  <strong>Message:</strong>
  <%= @entry.Message %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
