<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this post_test from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= 'Name' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= 'First Name' %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= 'Last Name' %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= 'Account ID' %><br>
    <%= f.select :accountid, Account.all.collect {|x| [x.name,x.id]}, {:include_blank => 'Select One'} %>
    <%#= f.text_field :accountid %>
  </div>



  <div class="field">
    <%=  'Email' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%=  'Primary Phone' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%=  'Home Phone' %><br>
    <%= f.text_field :homephone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>



















<%# Not Used Below %>
    <%#= f.label :_hc_err %>
    <%#= f.text_area :_hc_err %>
    <%#= f.label :primary_functional_role__c %>
    <%#= f.text_field :primary_functional_role__c %>
    <%#= f.label :account_name_local__c %>
    <%#= f.text_field :account_name_local__c %>
    <%#= f.label :lastnamelocal %>
    <%#= f.text_field :lastnamelocal %>
    <%#= f.label :firstnamelocal %>
    <%#= f.text_field :firstnamelocal %>
    <%#= f.label :_hc_lastop %>
    <%#= f.text_field :_hc_lastop %>
    <%#= f.label :isdeleted %>
    <%#= f.check_box :isdeleted %>
    <%#= f.label :systemmodstamp %>
    <%#= f.datetime_select :systemmodstamp %>
    <%#= f.label :level__c %>
    <%#= f.text_field :level__c %>
    <%#= f.label :function__c %>
    <%#= f.text_field :function__c %>
    <%#= f.label :acct_global_account_executive__c %>
    <%#= f.text_field :acct_global_account_executive__c %>
    <%#=  'SFID' %><br>
    <%#= f.text_field :sfid %>
    <%#= 'Date Created' %><br>
    <%#= f.text_field :createddate %>
    <%#=  'Account Record Type' %><br>
    <%#= f.text_field :account_record_type__c %>


<% end %>
