<p id="notice"><%= notice %></p>

<p>
  <strong>Hc lastop:</strong>
  <%= @contact._hc_lastop %>
</p>

<p>
  <strong>Sfid:</strong>
  <%= @contact.sfid %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @contact.createddate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @contact.isdeleted %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Systemmodstamp:</strong>
  <%= @contact.systemmodstamp %>
</p>

<p>
  <strong>Hc err:</strong>
  <%= @contact._hc_err %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @contact.accountid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @contact.firstname %>
</p>

<p>
  <strong>Acct global account executive  c:</strong>
  <%= @contact.acct_global_account_executive__c %>
</p>

<p>
  <strong>Lastnamelocal:</strong>
  <%= @contact.lastnamelocal %>
</p>

<p>
  <strong>Firstnamelocal:</strong>
  <%= @contact.firstnamelocal %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Function  c:</strong>
  <%= @contact.function__c %>
</p>

<p>
  <strong>Account record type  c:</strong>
  <%= @contact.account_record_type__c %>
</p>

<p>
  <strong>Level  c:</strong>
  <%= @contact.level__c %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @contact.lastname %>
</p>

<p>
  <strong>Primary functional role  c:</strong>
  <%= @contact.primary_functional_role__c %>
</p>

<p>
  <strong>Account name local  c:</strong>
  <%= @contact.account_name_local__c %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @contact.homephone %>
</p>

<p>
  <strong>Lead Source:</strong>
  <%= @contact.leadsource %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
