<p id="notice"><%= notice %></p>

<h1>Database Test</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Sfid</th>
      <th>Last change</th>
      <th>Modified at</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.emp_id %></td>
        <td><%= post.SFID %></td>
        <td><%= post.Last_Change %></td>
        <td><%= post.Modified_At %></td>
        <td><%= post.Message %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
