<p id="notice"><%= notice %></p>

<p>
  <strong>Proposalduedate  c:</strong>
  <%= @opportunity.proposalduedate__c %>
</p>

<p>
  <strong>Systemmodstamp:</strong>
  <%= @opportunity.systemmodstamp %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @opportunity.accountid %>
</p>

<p>
  <strong>Currencyisocode:</strong>
  <%= @opportunity.currencyisocode %>
</p>

<p>
  <strong>Stagename:</strong>
  <%= @opportunity.stagename %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @opportunity.isdeleted %>
</p>

<p>
  <strong>Closedate:</strong>
  <%= @opportunity.closedate %>
</p>

<p>
  <strong>Opportunity md d  c:</strong>
  <%= @opportunity.opportunity_md_d__c %>
</p>

<p>
  <strong>Leadsource:</strong>
  <%= @opportunity.leadsource %>
</p>

<p>
  <strong>Hc lastop:</strong>
  <%= @opportunity._hc_lastop %>
</p>

<p>
  <strong>Primary key buyer  c:</strong>
  <%= @opportunity.primary_key_buyer__c %>
</p>

<p>
  <strong>Probability:</strong>
  <%= @opportunity.probability %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @opportunity.amount %>
</p>

<p>
  <strong>Hc err:</strong>
  <%= @opportunity._hc_err %>
</p>

<p>
  <strong>Type:</strong>
  <%= @opportunity.type %>
</p>

<p>
  <strong>Sfid:</strong>
  <%= @opportunity.sfid %>
</p>

<p>
  <strong>Natureofwork  c:</strong>
  <%= @opportunity.natureofwork__c %>
</p>

<p>
  <strong>Pursuitteam  c:</strong>
  <%= @opportunity.pursuitteam__c %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @opportunity.createddate %>
</p>

<p>
  <strong>Name:</strong>
  <%= @opportunity.name %>
</p>

<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
