<p id="notice"><%= notice %></p>

<p>
  <strong>Accountteam  c:</strong>
  <%= @account.accountteam__c %>
</p>

<p>
  <strong>Hc lastop:</strong>
  <%= @account._hc_lastop %>
</p>

<p>
  <strong>Hc err:</strong>
  <%= @account._hc_err %>
</p>

<p>
  <strong>Account md d  c:</strong>
  <%= @account.account_md_d__c %>
</p>

<p>
  <strong>Account md d title  c:</strong>
  <%= @account.account_md_d_title__c %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @account.isdeleted %>
</p>

<p>
  <strong>Account md d email  c:</strong>
  <%= @account.account_md_d_email__c %>
</p>

<p>
  <strong>Account md d name  c:</strong>
  <%= @account.account_md_d_name__c %>
</p>

<p>
  <strong>Annualrevenue:</strong>
  <%= @account.annualrevenue %>
</p>

<p>
  <strong>Recordtypeid:</strong>
  <%= @account.recordtypeid %>
</p>

<p>
  <strong>Assets reported date  c:</strong>
  <%= @account.assets_reported_date__c %>
</p>

<p>
  <strong>Accountmanager  c:</strong>
  <%= @account.accountmanager__c %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Account manager  c:</strong>
  <%= @account.account_manager__c %>
</p>

<p>
  <strong>Systemmodstamp:</strong>
  <%= @account.systemmodstamp %>
</p>

<p>
  <strong>Account md d phone  c:</strong>
  <%= @account.account_md_d_phone__c %>
</p>

<p>
  <strong>Accountsitetype  c:</strong>
  <%= @account.accountsitetype__c %>
</p>

<p>
  <strong>Accountsource:</strong>
  <%= @account.accountsource %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @account.createddate %>
</p>

<p>
  <strong>Website:</strong>
  <%= @account.website %>
</p>

<p>
  <strong>Sfid:</strong>
  <%= @account.sfid %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
